# 看板娘 Live2d
live2d:
  enable: true
  scriptFrom: local
  pluginRootPath: live2d-widget/
  pluginJsPath: lib/
  pluginModelPath: assets/
  tagMode: false
  debug: false
  model:
    use: live2d-widget-model-shizuku 
  display:
    position: right
    width: 150
    height: 300
  mobile:
    show: false